install
cdrom
lang en_US.UTF-8
keyboard us
network --device=eth0 --bootproto=dhcp
rootpw vagrant
firewall --enable --ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone Asia/Tokyo
bootloader --location=mbr

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth --useshadow --enablemd5
firstboot --disabled
reboot

%packages
@Core
@Base
kernel-devel
kernel-headers
gcc
openssl-devel
readline-devel
zlib-devel
-avahi
-bluez-utils
-dogtail
-kudzu

%post
DISABLED_SERVICES="apmd autofs cpuspeed cups iiim irqbalance isdn lvm2-monitor mdmonitor mdmpd netfs nfslock pcmcia portmap rhnsd rpcgssd rpcidmapd sendmail xfs"
for SERVICE in ${DISABLED_SERVICES}
do
    /etc/init.d/${SERVICE} stop
    chkconfig --level 123456 ${SERVICE} off
done

# update certs
curl -o /etc/pki/tls/certs/ca-bundle.crt -L 'http://curl.haxx.se/ca/cacert.pem'
# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant
# sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
