install
cdrom
unsupported_hardware
lang en_US.UTF-8
keyboard us
network --device=eth0 --bootproto=dhcp --noipv6
rootpw vagrant
firewall --enable --ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone Asia/Tokyo
bootloader --location=mbr

text
skipx
zerombr

clearpart --all
autopart

auth --useshadow --enablemd5
firstboot --disabled
services --disabled anacron,apmd,auditd,avahi-daemon,bluetooth,cpuspeed,cups,gpm,hidd,iiim,ip6tabels,isdn,lvm2-monitor,mcstrans,mdmonitor,mdmpd,netfs,nfslock,pcmcia,portmap,restorecond,rhnsd,rpcgssd,rpcidmapd,smartd,xfs,yum-updatesd
reboot

%packages
@Core
@Base
kernel-devel
kernel-headers
gcc
openssl-devel
readline-devel
zlib-devel
-avahi
-bluez-utils
-dogtail
-kudzu
%end

%post
# update certs
curl -o /etc/pki/tls/certs/ca-bundle.crt -L 'http://curl.haxx.se/ca/cacert.pem'
# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant
# sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
