install
cdrom
text
lang en_US.UTF-8
langsupport --default=en_US.UTF-8 en_US.UTF-8
keyboard us
network --device=eth0 --bootproto=dhcp
rootpw vagrant
firewall --enable --ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone Asia/Tokyo
bootloader --location=mbr

skipx
zerombr

clearpart --all --initlabel
autopart

auth --useshadow --enablemd5
firstboot --disabled
reboot

%packages
@Core
@Base
kernel-devel
gcc
bison
byacc
curl
curl-devel
gcc-c++
make
ncurses-devel
openssl-devel
readline-devel
zlib-devel

%post
curl -o /usr/share/ssl/certs/ca-bundle.crt -kL "https://www.digicert.com/testroot/DigiCertHighAssuranceEVRootCA.crt"
rpm -Uvh "http://www.sudo.ws/sudo/dist/packages/Centos/4/sudo-1.8.9-6.el4.`uname -i`.rpm"
yum update -y

DISABLED_SERVICES="apmd autofs cpuspeed cups iiim irqbalance isdn lvm2-monitor mdmonitor mdmpd netfs nfslock pcmcia portmap rhnsd rpcgssd rpcidmapd sendmail xfs"
for SERVICE in ${DISABLED_SERVICES}
do
    /etc/init.d/${SERVICE} stop
    chkconfig --level 123456 ${SERVICE} off
done

# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant
# sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
